.preview-modal {
  background-color: white;
  height: 90vh;
  margin-top: 10vh;
  border-radius: 3px;
  overflow: hidden auto;
}

.preview-modal main {
  position: relative;
}

.preview-modal main ul {
  position: absolute;
}
